@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: linear-gradient(45deg, #7f00ff, #ff0000);
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: linear-gradient(45deg, #7f00ff, #ff0000);
  cursor: pointer;
  border: 2px solid white;
}

@layer utilities{
    /* For WebKit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* For Internet Explorer, Edge */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
}

/* For Firefox */
.hide-scrollbar {
    scrollbar-width: none;  /* Firefox */
}

/* General */
.hide-scrollbar {
    overflow: scroll;  
}


.custom-dotted {
    border-top: 2px dotted #c7c7c5;
    border-spacing: 3px; 
}
.custom-dotted2 {
    border-top: 2px dotted #c7c7c5;
    border-spacing: 5px; 
}

}